<div class="elastic-search-reindex-container">
  <h1 *ngIf="pageTitle" id="page-title" tabindex="0" aria-live="polite">
    {{ pageTitle }}
  </h1>
  <div class="elastic-search-reindex-container__tabs-container">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" aria-label="ElasticSearch Reindexing navigation">
      <a mat-tab-link *ngFor="let tab of searchTabs; let i = index" [routerLink]="[tab.path]"
        [active]="activeTab === tab" [attr.aria-selected]="activeTab === tab ? 'true' : 'false'"
        (click)="activateTab(tab)">
        {{ tab.label }}
      </a>
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</div>