<form [formGroup]="documentReindexForm" (ngSubmit)="onReindexFormSubmit()" class="document-es-reindex-container">
    <p id="requiredField"> {{ ELASTIC_SEARCH_LABELS.REQUIRED_FIELD_INDICATOR }}</p>
    <mat-form-field hyFormField>
        <mat-label>{{ ELASTIC_SEARCH_LABELS.DOCUMENT_ID_OR_PATH }}</mat-label>
        <input matInput placeholder="{{ ELASTIC_SEARCH_LABELS.DOCUMENT_ID_OR_PATH }}" type="text"
            formControlName="documentIdentifier" id="documentIdentifier" required />
        <mat-error *ngIf="documentReindexForm?.get('documentIdentifier')?.invalid">
            {{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" class="document-es-reindex-container__button" [disabled]="isReindexBtnDisabled">
        {{ ELASTIC_SEARCH_LABELS.REINDEX_BUTTON_LABEL }}
    </button>
</form>